@model OnlineVotingSystem.Models.User

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_VoterLayout.cshtml";
}



<h2>Change Password</h2>
<p>
    Use the form below to change your password. 
</p>


<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true, "Password change was unsuccessful. Please correct the errors and try again.")
    <div>
        <fieldset>
            <legend>Account Information</legend>
            <p>@ViewBag.message</p>
            <div class="editor-label">
                @Html.Label("Old Password")
            </div>
            <div class="editor-field">
                @Html.Password("OldPassword")
                @Html.ValidationMessageFor(m => m.Password)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.Password)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </div>

            <div class="editor-label">
                @Html.Label("Confirm Password")
            </div>
            <div class="editor-field">
                @Html.Password("ConfirmPassword")
                @Html.ValidationMessageFor(m => m.Password)
            </div>

            <p>
                <input type="submit" value="Change Password" />
            </p>
        </fieldset>
    </div>
}


