@model OnlineVotingSystem.Models.Voter

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>Voter</legend>
    <div class="display-label">Voter ID</div>
    <div class="display-field">@Model.VoterId</div>


    <div class="display-label">Name</div>
    <div class="display-field">@Model.Name</div>

    <div class="display-label">Department</div>
    <div class="display-field">@Model.Department</div>

    <div class="display-label">EMail</div>
    <div class="display-field">@Model.EMail</div>

    <div class="display-label">Voted</div>
    <div class="display-field">@Model.Voted</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { VoterId=Model.VoterId }) |
    @Html.ActionLink("Back to List", "Index")
</p>

