@model OnlineVotingSystem.Models.Candidate

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Create</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Candidate</legend>
               <div class="editor-label">
            @Html.LabelFor(model => model.CandidateId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CandidateId)
            @Html.ValidationMessageFor(model => model.CandidateId)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Society)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Society)
            @Html.ValidationMessageFor(model => model.Society)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Manifesto)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Manifesto)
            @Html.ValidationMessageFor(model => model.Manifesto)
        </div>

 

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

