@model OnlineVotingSystem.Models.Candidate

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Candidate</legend>
    <div class="display-label">CandidateID</div>
    <div class="display-field">@Model.CandidateId</div>
    <div class="display-label">Society</div>
    <div class="display-field">@Model.Society</div>

    <div class="display-label">Manifesto</div>
    <div class="display-field">@Model.Manifesto</div>

    <div class="display-label">Votes</div>
    <div class="display-field">@Model.Votes</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}


